<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
   <head>
      <title>Bank</title>
   </head>
   
   <body>      
      <!-- Include _menu.html -->
      <th:block th:include="/_menu"></th:block>
       
      <h2>New bank Account</h2>
      <div th:if="${errorMessage!=null}"
           style="color:red;font-style:italic" th:utext="${errorMessage}">..</div>
       
      <form th:action="@{/addBankAccount}" th:object="${addBankAccountForm}" method="POST">
         <table>
 
           <tr>
              <td>Full Name</td>
              <td><input type="text" th:field="*{fullName}"/></td>
           </tr>
           <tr>
              <td>Initial Balance</td>
              <td><input type="text" th:field="*{balance}"/></td>
           </tr>   
           <tr>
              <td>&nbsp;</td>
              <td><input type="submit" value="Add"/></td>
           </tr>      
         </table>      
      </form>
       
   </body>
</html>