<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="layout :: headerFragment">
</head>
<body>
	<div class="container">
		<div class="jumbotron text-center">
			<h1>Spring Boot Portal</h1>
		</div>
		<div>
			<p>OIDC Authentication with Keycloak Demo</p>

			<h2>Existing Customers</h2>
			<div class="well">
				<b>Enter the intranet: </b><a th:href="@{/customers}">customers</a>
			</div>
			<h2>User Info</h2>
			<div class="well">
				<b>Enter the intranet: </b><a th:href="@{/users}">user info</a>
			</div>
			<h2>Admin Page</h2>
			<div class="well">
				<b>Enter the intranet: </b><a th:href="@{/admin}">Admin Page</a>
			</div>

			<h2>REST API with Basic Authentication (user,pass) = (rest,rest)</h2>
			<div class="well">
				<b>Rest Link 1: </b><a th:href="@{/rest/products}">Get Message</a><br />
				<b>Rest Link 2: </b><a th:href="@{/rest/products}">Get Products</a>
			</div>
		</div>
		<div id="pagefoot" th:include="layout :: footerFragment">Footer
		</div>
	</div>
	<!-- container -->

</body>
</html>